%footer.branding
  %p
    %a{ :href => '#', :id => "clear" }="CLEAR"
    \// 
    %a{ :href => '#', :id => "about" }="ABOUT"
    \//
    = "© #{Time.now.year} //"
    %a{ :href => "http://briangonzalez.org" }= 'briangonzalez.org'

  %p
    %a{ :href => "http://compass-style.org/reference/compass/" }= 'compass docs' 
    \//
    %a{ :href => "http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html" }= 'sass docs'
    \//
    %a{ :href => "http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html" }= 'sass docs'
    \//
    %a{ :href => "https://github.com/briangonzalez/compass2css" }= 'fork'


  <a href="https://twitter.com/share" class="twitter-share-button" data-via="brianmgonzalez" data-size="large">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <a href="https://twitter.com/brianmgonzalez" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @briangonzalez__</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

/ As always, javascript at the bottom.
%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript" }
%script{ :src => "/compass2css/js/application.js" }
